altair==5.4.1
anaconda-client==1.11.0
anaconda-navigator==2.4.0
anyio==3.6.2
appdirs==1.4.4
attrs==23.2.0
backports.weakref==1.0.post1
blinker==1.8.2
bokeh==3.4.3
brotlipy==0.7.0
bs4==0.0.2
cachetools==5.5.0
Cartopy==0.23.0
click==8.1.7
cloudpickle==3.0.0
clyent==1.2.2
colorcet==3.1.0
comm==0.2.2
conda==23.3.1
conda-build==3.24.0
conda-repo-cli==1.0.24
conda-verify==3.4.2
contourpy==1.3.0
customtkinter==5.1.2
cycler==0.11.0
darkdetect==0.8.0
dask==2024.8.0
datashader==0.16.3
easyocr==1.7.0
eli5==0.13.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
fonttools==4.38.0
fsspec==2024.9.0
geocoder==1.38.1
geopandas==1.0.1
geoviews==1.12.0
gitdb==4.0.11
GitPython==3.1.43
googlemaps==4.10.0
graphviz==0.20.3
h11==0.14.0
holoviews==1.19.1
imageio==2.31.1
imbalanced-learn==0.12.2
imblearn==0.0
importlib_metadata==8.5.0
imutils==0.5.4
ipywidgets==8.1.5
joblib==1.2.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter_bokeh==4.0.5
jupyterlab_widgets==3.0.13
kiwisolver==1.4.4
lazy_loader==0.3
linkify-it-py==2.0.3
llvmlite==0.43.0
locket==1.0.0
lorem-text==2.1
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.6.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
mpmath==1.2.1
multipledispatch==1.0.0
narwhals==1.9.1
navigator-updater==0.2.1
ninja==1.11.1
nltk==3.8.1
numba==0.60.0
numpy==1.23.4
oauthlib==3.2.2
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
panel==1.4.5
param==2.1.1
partd==1.4.2
patsy==0.5.3
Pillow==9.2.0
plotly==5.13.1
ply==3.11
protobuf==5.28.2
pyarrow==17.0.0
pyclipper==1.3.0.post4
pyct==0.5.0
pydeck==0.9.1
Pygments==2.18.0
pyogrio==0.10.0
PyPDF2==3.0.1
pyperclip==1.8.2
pyproj==3.6.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyshp==2.3.1
PySide6==6.5.0
PySide6-Addons==6.5.0
PySide6-Essentials==6.5.0
pyviz_comms==3.0.3
PyWavelets==1.4.1
PyYAML==6.0
qtconsole==5.4.2
ratelim==0.1.6
regex==2023.5.5
requests-oauthlib==1.3.1
rich==13.9.2
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.0
selenium==4.23.0
shapely==2.0.1
shiboken6==6.5.0
simple-colors==0.1.5
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
streamlit==1.39.0
streamlit-option-menu==0.3.13
tabulate==0.9.0
tenacity==8.2.1
threadpoolctl==3.1.0
tifffile==2023.7.4
tkintermapview==1.29
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
trio==0.26.0
trio-websocket==0.11.1
tweepy==4.14.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
vaderSentiment==3.3.2
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wsproto==1.2.0
xarray==2024.7.0
xyzservices==2024.9.0
zipp==3.20.2
